annotated-types
anyio
certifi
charset-normalizer
click
fastapi
geopandas
h11
idna
networkx
numpy
osmnx
packaging
pandas
pydantic
pydantic_core
pyogrio
pyproj
python-dateutil
pytz
requests
shapely
six
sniffio
starlette
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
fastapi
jinja2
networkx
shapely
python-multipart
tortoise-orm>=1.1,<2
python-dotenv>=1.2,<2
asyncmy>=0.2,<1
