annotated-types
anyio
certifi
charset-normalizer
click
fastapi
geopandas
h11
idna
networkx
numpy
osmnx
pyrosm>=0.11,<1
packaging
pandas
pydantic
pydantic_core
pyogrio
pyproj
python-dateutil
pytz
requests
shapely
six
sniffio
starlette
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
websockets>=15,<17
fastapi
networkx
shapely
python-multipart
tortoise-orm>=1.1,<2
python-dotenv>=1.2,<2
deep-translator>=1.11,<2
tqdm>=4.67,<5
asyncmy>=0.2,<1
asyncpg>=0.30,<1
